{% extends 'partials/base.html' %}
{% load static %}



{% block title%} GameStream {% endblock %}


{% block body %}

<div class="container">
    <section class="container-section">
        <div class="container-section-content">
            <h1 class="container-section-title">Bem-vindo a GameStream</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita nam culpa perspiciatis, ipsum a facilis rem ex! Magni tempore ad in totam numquam deleniti maiores, labore nobis libero ex?</p>
            <a href="{% url 'about' %}">Saiba mais</a>
        </div>
        
        
    </section>
</div>
<div class="container-price">

</div>



{% endblock %}


{% block footer%}

{% endblock %}


