@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
  margin: 0;
  padding: 0;
}

.container-menu {
  display: flex;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: #17181C;
  justify-content: space-around;

}

.menu-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.menu-navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.menu-navbar a{
  text-decoration: none;
  padding: 1em;
  color: #FFFFFF;
  width: 80px;
  height: auto;
  align-items: center;
  font-family: 'DynaPuff', cursive;
}

.menu-navbar a:hover {
  background-color: #FA4753;
}

.footer-text h3 {
  font-size: 1rem;
}

.container-footer p {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  width: 200px;
}
.container-footer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  border-top: 20px solid #000;
  color: #FFFFFF;

}



.footer-contact {
    
    margin: 10px 0;
    width: 200px;
    margin-top: 10px;
}

.footer-contact h3 {
  font-size: 1rem;
}

.footer-contact ul li {
  list-style: none;
  color: #FFFFFF;
  display: flex;
  margin: 10px;
  border: 1px solid #FFFFFF;
  width: 80px;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.footer-contact li:hover{
  background-color: #FA4753;
}


