*{
  margin: 0;
  padding: 0;
}

.container-menu {
  display: flex;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: #17181C;
  justify-content: space-around;

}

.menu-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.menu-navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.menu-navbar a{
  text-decoration: none;
  padding: 1em;
  color: #FFFFFF;
  width: 100px;
  height: auto;
  align-items: center;
}

.menu-navbar a:hover {
  background-color: #FA4753;
}

