@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #17181C;
}

.container-register{
    margin: 50px 50px;
    display: flex;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.212);
}

.form-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D9CEC;
    padding: 1rem;
    
}

.form-img img {
    width: 15rem;
}

.form-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 3rem;
}

.title-header {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
}

.register-button {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.register-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-left: 200px;
}



.form-content h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 50%;
}


#id_username{
    border-radius: 5px;
    border: none;
    background-color: #dcdcde;
    padding: 5px;
}

#id_email{
    border-radius: 5px;
    border: none;
    background-color: #dcdcde;
    padding: 5px;
}

.input-password {
    border-radius: 5px;
    border: none;
    background-color: #dcdcde;
    padding: 5px;
}


.text-center{
    margin-top: 80px;
}

.text-center a {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

span li {
    text-decoration: none;
    list-style: none;
    margin: 10px;
    
}

span {
    visibility: visible;
}

.container-icon{
    position: absolute;
    margin-left: 230px;
    margin-top: 110px;
    
}

.container-icon2{
    position: absolute;
    margin-left: 230px;
    margin-top: 215px;
}

.container-icon3{
    position: absolute;
    margin-left: 230px;
    margin-top: 275px;
}

.message-info{
    width: 300px;
    min-height: 10px;
    margin: 8px;
    padding: 3px;
    font-size: 0.8rem;
    border: 1px solid #000;
    border-radius: 0px 10px 10px 10px;
    text-align: center;
    
}

#icon {
    background: none;
    border: none;
    background-color: none;
    position: absolute;
    margin-left: 230px;
    margin-top: 90px;
}

#icon2 {
    background: none;
    border: none;
    background-color: none;
    position: absolute;
    margin-left: 230px;
    margin-top: 200px;
}

#icon3 {
    background: none;
    border: none;
    background-color: none;
    position: absolute;
    margin-left: 230px;
    margin-top: 260px;
}

.hide{
    display: none;
}














